<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="b4e3ab20-e114-4c14-9898-9dd407434486" name="AZBar" alias="azbar" type="Starter" color="" url="https://www.s1.umbraco.io/project/azbar" trialExpireDate="2019-05-16T20:04:26.0746922Z">
  <environment type="live" name="Live" id="a39563dd-e142-4f64-9883-e14a31b759fc">https://azbar.s1.umbraco.io</environment>
</environments>