<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="b4e3ab20-e114-4c14-9898-9dd407434486" name="AZBar" alias="azbar" type="Starter" color="" url="https://www.s1.umbraco.io/project/azbar">
  <environment type="development" name="Development" id="91700616-3f7e-47f7-927a-577b5187fdd9">https://dev-azbar.s1.umbraco.io</environment>
  <environment type="live" name="Live" id="a39563dd-e142-4f64-9883-e14a31b759fc">https://azbar.s1.umbraco.io</environment>
</environments>